<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jiangnanyidianyu.dao.MdDao">

    <select id="selectMdByid" resultType="com.jiangnanyidianyu.bean.md">
        select * from md where id = #{mdId}
    </select>

    <insert id="insertMd" parameterType="com.jiangnanyidianyu.bean.md">
        insert into
        md (id,content)
        values (#{id},#{content})
    </insert>

</mapper>